#!/bin/bash
#
# Copyright 2019-present Woojoong Kim
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Network: an overview
# db_net (b/w hss_db and hss): 192.168.100.0/24
# s6a_net (b/w hss and mme): 192.168.101.0/24
# s1mme_net (b/w eNB and mme): 192.168.102.0/24
# s11_net (b/w mme and spgw-c): 192.168.103.0/24
# sx_net: (b/w spgw-c and spgw-u): 192.168.104.0/24
# s1u_net: (uplink b/w spgw-u and eNB): 192.168.105.0/24
# sgi_net: (downlink b/w spgw-u and eNB): 192.168.106.0/24

DB_NET_SUBNET="192.168.100.0/24"
S6A_NET_SUBNET="192.168.101.0/24"
S1MME_NET_SUBNET="192.168.102.0/24"
S11_NET_SUBNET="192.168.103.0/24"
SX_NET_SUBNET="192.168.104.0/24"
S1U_NET_SUBNET="192.168.105.0/24"
SGI_NET_SUBNET="192.168.106.0/24"

DB_NET_NAME=db_net
S6A_NET_NAME=s6a_net
S1MME_NET_NAME=s1mme_net
S11_NET_NAME=s11_net
SX_NET_NAME=sx_net
S1U_NET_NAME=s1u_net
SGI_NET_NAME=sgi_net

